---
import i18n, { changeLanguage } from "i18next";
import Grid from "../../../layouts/Grid.astro";
import Block from "../../../components/grid/Block.astro";
import Button from "../../../components/grid/Button.astro";
import { Prepr } from "src/utils/prepr";
import GetPostBySlug from "src/queries/get-post-by-slug";
import generateLocaledURL from "../../../utils/localedURL.ts";
import NotFound from "../../404.astro";

changeLanguage("en");

const response = await Prepr(GetPostBySlug(i18n.language, Astro.params.slug ?? ""));
const { data } = await response.json();
const post = data.Post;
---

{
  post ? (
    <Grid title={post?.title ?? ''} description={post?.description}>
      <Button path={generateLocaledURL('/posts')} title='Назад' />
      <Block md lg />
      <Block md lg />
      <Block md lg />
      <Block md lg />
      <Block md lg />
      <Block lg />
      <div class='col-span-2 bg-white p-5 md:col-span-4 lg:col-span-6'>
        <h1 class='mb-5 text-center text-4xl font-bold'>{post?.title}</h1>
        {post.body.map((e: any) => {
          if (e.__typename === 'Text') {
            return <Fragment set:html={e.body} />;
          }
          if (e.__typename === 'Assets') {
            return <img src={e.items[0].url} />;
          }
          return null;
        })}
      </div>
    </Grid>
  ) : (
    <NotFound />
  )
}
