---
import i18n, { t, changeLanguage } from "i18next";
import Grid from "../../../layouts/Grid.astro";
import Block from "../../../components/grid/Block.astro";
import generateLocaledURL from "../../../utils/localedURL.ts";
import { Prepr } from "../../../utils/prepr";
import GetPosts from "../../../queries/get-posts";

changeLanguage("en");

const response = await Prepr(GetPosts(i18n.language));
const { data } = await response.json();
const posts = data.Posts.items;
---

<Grid title={t('posts.title')} description={t('posts.description')}>
  <Block md lg />
  {
    posts.map((e: any, i: number) => (
      <>
        <a
          href={e.type === 'video' ? e.video : generateLocaledURL(`/posts/${e._slug}`)}
          class='group relative col-span-2 row-span-2 aspect-square overflow-hidden'
          target={e.type === 'video' ? '_blank' : '_self'}
        >
          <img
            src={e.image.url ?? 'https://placehold.co/400'}
            alt={e.title}
            class='w-full opacity-60 duration-300 group-hover:scale-110 group-hover:opacity-100'
            width='640'
            height='640'
          />
          <div class='absolute inset-x-0 bottom-0 bg-white px-5 py-3 text-center text-2xl'>
            {e.title}
          </div>
        </a>
        {(i - 1) % 3 === 0 && <Block lg />}
        {(i - 1) % 3 === 0 && <Block lg />}
      </>
    ))
  }
</Grid>
