---
import i18n, { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Block from "../../components/table/Block.astro";
import ButtonWithImage from "../../components/table/ButtonWithImage.astro";
import generatelocaledURL from "src/utils/localedURL";
import { Prepr } from "src/utils/prepr";
import GetPostBySlug from "src/queries/get-post-by-slug";

changeLanguage("uk");

const response = await Prepr(GetPostBySlug(i18n.language, Astro.params.slug ?? ""));
const { data } = await response.json();
const post = data.Post;
---

<Layout title={post?.title ?? ''} description={post?.description}>
  <section
    class='relative h-[100vh] min-h-[100vh] w-full overflow-x-hidden bg-sky bg-[length:100%_auto] md:bg-none'
  >
    <div
      class='absolute left-0 top-0 grid h-full w-[100vw] grid-cols-2 md:grid-cols-6 lg:grid-cols-8'
    >
      <Block s='lg' />
      <ButtonWithImage
        path={generatelocaledURL('/')}
        alt='Склоресурс'
        title='Склоресурс'
        src='/svgs/logo-ua.svg'
      />
      <Block />
      <Block s='md' />
      <Block s='md' />
      <Block s='md' />
      <Block s='md' />
      <Block s='md' />
      <Block s='lg' />
      {
        post && (
          <div class='col-span-6 bg-white px-12 py-8 leading-8'>
            <h1 class='mb-3 text-center text-3xl font-bold md:text-4xl lg:text-5xl'>
              {post.title}
            </h1>
            {post.body.map((e: any) => {
              if (e.__typename === 'Text') {
                return <Fragment set:html={e.body} />;
              }
              if (e.__typename === 'Assets') {
                return <img src={e.items[0].url} />;
              }
              return null;
            })}
          </div>
        )
      }
      {
        !post && (
          <div class='col-span-6 bg-white px-12 py-8 leading-8'>
            <h1 class='mb-3 text-center text-3xl font-bold md:text-4xl lg:text-5xl'>
              404 - Post not found
            </h1>
          </div>
        )
      }
    </div>
  </section>
</Layout>
