---
const { mobile, md, lg } = Astro.props;
---

<div
  class={`pointer-events-none aspect-square
        ${mobile ? 'block' : 'hidden'} 
        ${md ? 'md:block' : 'md:hidden'} 
        ${lg ? 'lg:block' : 'lg:hidden'}`}
>
</div>
