---
import { Icon } from 'astro-icon/components';
import { getLocale } from 'astro-i18n-aut';
import { t, localedURL } from 'src/utils/i18n.ts';

const { category, active } = Astro.props;

const locale = getLocale(Astro.url);
const localedData = t(locale).services[category];
---

<a
  href={active ? '#' : localedURL(locale, `/services/${category}`)}
  title={localedData.title}
  class={`flex h-full flex-col items-center justify-center gap-4 border-2 px-2 py-3 text-center text-lg duration-300 ${
    active
      ? 'border-blue-500 fill-blue-500 text-blue-500'
      : 'border-neutral-400 fill-neutral-400 text-neutral-400'
  } hover:border-blue-500 hover:fill-blue-500 hover:text-blue-500`}
  ><Icon name={`services-${category}`} class='h-12 w-12 lg:h-20 lg:w-20' /><p>
    {localedData.title}
  </p></a
>
