---
import { t, setDefaultNamespace } from 'i18next';

setDefaultNamespace('home');
---

<div
  class='flex aspect-square flex-col items-center justify-center gap-1 bg-black/60 p-2 text-white lg:text-base xl:text-lg 2xl:text-xl'
>
  <p>{t('slogan.a')}</p>
  <p>{t('slogan.b')}</p>
  <p>{t('slogan.c')}</p>
</div>
