---
import { getLocale } from 'astro-i18n-aut';
import { t } from '../../utils/i18n.ts';

const locale = getLocale(Astro.url);
const localedData = t(locale).home.slogan;
---

<div
  class='flex aspect-square flex-col items-center justify-center gap-1 bg-black/60 p-2 text-white lg:text-base xl:text-lg 2xl:text-xl'
>
  <p>{localedData.a}</p>
  <p>{localedData.b}</p>
  <p>{localedData.c}</p>
</div>
