---
import { getLocale } from 'astro-i18n-aut';
import { t } from 'src/utils/i18n.ts';
import Grid from 'src/layouts/Grid.astro';
import Block from 'src/components/grid/Block.astro';
import ServicesCategoryButton from 'src/components/grid/ServicesCategoryButton.astro';

const locale = getLocale(Astro.url);
const localedData = t(locale).services.delivery;
---

<Grid title={localedData.title} description={localedData.description}>
  <Block mobile md lg />
  <ServicesCategoryButton category='delivery' active />
  <ServicesCategoryButton category='components' />
  <ServicesCategoryButton category='seminars' />
  <ServicesCategoryButton category='vacancies' />
  <Block lg />
  <Block md lg />
  <div class='col-span-2 bg-white p-5 pt-12 md:col-span-4 md:px-12 lg:col-span-6'>
    <div class='flex justify-center'>
      <h1
        class='mb-5 border-b-2 border-blue-600 px-2 pb-2 text-center text-4xl font-bold text-blue-600'
      >
        {localedData.content.h1}
      </h1>
    </div>
    <div class='relative'>
      <div class='absolute inset-x-0 h-full w-16 border-b-2 border-l-2 border-blue-600'></div>
      <div class='py-6 pl-5'>
        <Fragment set:html={localedData.content.main} />
      </div>
    </div>
    <img src='/images/delivery.jpg' width='500' height='500' class='mx-auto mt-10' />
  </div>
</Grid>
