---
import i18n, { t, changeLanguage, setDefaultNamespace } from "i18next";
import ProjectFullScreen from "../../../components/ProjectFullScreen.tsx";
import Layout from "../../../layouts/Layout.astro";
import Block from "../../../components/table/Block.astro";
import ButtonWithImage from "../../../components/table/ButtonWithImage.astro";
import generatelocaledURL from "src/utils/localedURL";
import { Prepr } from "src/utils/prepr";
import GetProjectBySlug from "src/queries/get-project-by-slug";

changeLanguage("en");

setDefaultNamespace("projects");
const response = await Prepr(GetProjectBySlug(i18n.language, Astro.params.slug ?? ""));
const { data } = await response.json();
const project = data.Project;
---

<Layout title={project?.title ?? ''} disableFooter>
  <section class='relative h-[100vh] min-h-[100vh] w-full overflow-x-hidden'>
    <div
      class='absolute left-0 top-0 grid h-full w-[100vw] grid-cols-2 md:grid-cols-6 lg:grid-cols-8'
    >
      <Block s='lg' />
      <ButtonWithImage
        path={generatelocaledURL('/')}
        alt='Склоресурс'
        title='Склоресурс'
        src='/svgs/logo-ua.svg'
        className='z-50'
      />
      <Block />
      <Block s='md' />
      <Block s='md' />
      <Block s='md' />
      <Block s='md' />
      <Block s='md' />
      <Block s='lg' />
      {
        !project && (
          <div class='col-span-6 bg-white px-12 py-8 leading-8'>
            <h1 class='mb-3 text-center text-3xl font-bold md:text-4xl lg:text-5xl'>
              404 - Project not found
            </h1>
          </div>
        )
      }
    </div>
  </section>
  {
    project && (
      <ProjectFullScreen
        images={project.images.map((e: { url: string }) => e.url)}
        title={project.title}
        location={project.location}
        type={project.glasstype}
        year={project.year}
        localeString={{ location: t('location'), glass: t('glass'), year: t('year') }}
        client:load
      />
    )
  }
</Layout>
