---
import { Icon } from 'astro-icon/components';
const { title, link } = Astro.props;
---

<a
  class='overflow-hidden rounded-full duration-300 hover:scale-110'
  target='_blank'
  title='Facebook'
  href={`https://www.facebook.com/sharer/sharer.php?s=100&p[title]=${title}&p[url]=${link}`}
>
  <Icon name='logos-facebook' class='h-10 w-10' />
</a>
