---
import { Icon } from 'astro-icon/components';
const { link, description } = Astro.props;
---

<a
  class='rounded-full duration-300 hover:scale-110'
  target='_blank'
  title='Telegram'
  href={`https://t.me/share/url?url=${link}&text=${description}`}
>
  <Icon name='logos-telegram' class='h-10 w-10' />
</a>
