---
import { Icon } from 'astro-icon/components';
const { title, description, link } = Astro.props;

const text = `${encodeURIComponent(title)}%0A${encodeURIComponent(description)}%0A`;
---

<a
  class='rounded-full'
  target='_blank'
  title='Twitter'
  href={`https://twitter.com/intent/tweet?text=${text}&url=${link}`}
  data-aos='fade-up'
  data-aos-duration='400'
  data-aos-delay='550'
>
  <Icon name='logos-twitter' class='h-10 w-10' />
</a>
