---
import { Icon } from 'astro-icon/components';
const { title, description, link } = Astro.props;

const text = `${encodeURIComponent(title)}%0A${encodeURIComponent(description)}%0A`;
---

<a
  class='rounded-full duration-300 hover:scale-110'
  target='_blank'
  title='Twitter'
  href={`https://twitter.com/intent/tweet?text=${text}&url=${link}`}
>
  <Icon name='logos-twitter' class='h-10 w-10' />
</a>
