---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Table from "../../layouts/Table.astro";
import Block from "../../components/table/Block.astro";
import { Prepr } from "src/utils/prepr";
import GetReportings from "src/queries/get-reportings";

changeLanguage("en");

setDefaultNamespace("reportings");
const response = await Prepr(GetReportings());
const { data } = await response.json();
const reportings = data.Reportings.items;
---

<Layout title={t('title')}>
  <Table>
    <Block />
    <Block s='md' />
    <Block s='md' />
    <Block s='md' />
    <Block s='md' />
    <Block s='md' />
    <Block s='lg' />
    <Block s='lg' />
    <div class='col-span-4 bg-white px-12 py-8'>
      <h1 class='text-center text-3xl'>{t('title')}</h1>
      {
        reportings.map((e: any) => (
          <div class='my-5 flex flex-col gap-1 text-lg text-cyan-700 underline'>
            <a href={e.finance.url} target='_blank'>
              {t('finance')} {e.year} {t('year')}
            </a>
            <a href={e.auditory.url} target='_blank'>
              {t('auditory')} {e.year} {t('year')}
            </a>
          </div>
        ))
      }
    </div>
  </Table>
</Layout>
