---
import { getLocale } from 'astro-i18n-aut';
import { Icon } from 'astro-icon/components';
import { t } from 'src/utils/i18n.ts';

const locale = getLocale(Astro.url);
const localedData = t(locale).about;

const features: Array<{ content: string; icon: string }> = localedData.features.data;
---

<div class='my-16 px-6 md:px-10 lg:px-12'>
  <div class='columns-1 gap-6 md:columns-2 xl:columns-3'>
    {
      features.map((e) => (
        <div
          class='mb-4 flex break-inside-avoid items-start gap-6'
          data-aos='fade-up'
          data-aos-duration='400'
        >
          <div class='shrink-0'>
            <Icon name={`fact-${e.icon}`} class='h-12 w-12 rounded-md' />
          </div>
          <div class='block'>
            <Fragment set:html={e.content} class='leading-relaxed text-slate-500' />
          </div>
        </div>
      ))
    }
  </div>
</div>
