---
import { getLocale } from 'astro-i18n-aut';
import { Icon } from 'astro-icon/components';
import { t } from 'src/utils/i18n.ts';

const locale = getLocale(Astro.url);
const localedData = t(locale).about;

const features: Array<{ content: string; icon: string }> = localedData.features.data;
---

<div class='px-3'>
  <div class='flex justify-center' data-aos='fade-up' data-aos-duration='400'>
    <h2
      class='mb-5 mt-10 border-b-2 border-blue-600 px-2 pb-2 text-center text-3xl font-bold text-blue-600'
    >
      {localedData.features.h2}
    </h2>
  </div>
  <div class='columns-1 gap-6 md:columns-2 xl:columns-3'>
    {
      features.map((e) => (
        <div
          class='mb-4 flex break-inside-avoid items-start gap-6'
          data-aos='fade-up'
          data-aos-duration='400'
        >
          <div class='shrink-0'>
            <Icon name={`fact-${e.icon}`} class='h-12 w-12 rounded-md' />
          </div>
          <div class='block'>
            <Fragment set:html={e.content} class='leading-relaxed text-slate-500' />
          </div>
        </div>
      ))
    }
  </div>
</div>
