---
import { getLocale } from 'astro-i18n-aut';
import { t } from 'src/utils/i18n.ts';

const locale = getLocale(Astro.url);
const localedData = t(locale).about;
---

<div class='relative h-[500px]' data-aos='fade-up' data-aos-duration='400'>
  <img
    src='/images/sky-skloresurs.jpg'
    class='absolute inset-0 z-0 h-full w-full object-cover object-center'
  />
  <div
    class='xs:w-[400px] absolute left-1/2 top-1/2 z-10 w-[300px] -translate-x-1/2 -translate-y-1/2 animate-fadeup rounded-md bg-black/75 p-5 text-white opacity-0 lg:left-8 lg:w-[700px] lg:-translate-x-0'
    id='mainhero'
  >
    <h1 class='mb-5 text-center text-4xl font-bold'>{localedData.title}</h1>
    <p>
      <span class='text-2xl font-semibold'>{localedData.mainhero.title}</span>{
        localedData.mainhero.content
      }
    </p>
  </div>
</div>
