---
import { getLocale } from 'astro-i18n-aut';
import { t } from 'src/utils/i18n.ts';
import Block from 'src/components/grid/Block.astro';
import Grid from 'src/layouts/Grid.astro';

const locale = getLocale(Astro.url);
const localedData = t(locale).meta;
---

<Grid>
  <Block md lg />
  <Block md lg />
  <Block md lg />
  <Block md lg />
  <Block md lg />
  <Block md lg />
  <Block lg />
  <div class='col-span-2 bg-white p-5 md:col-span-4 lg:col-span-6'>
    <h1 class='text-center text-4xl font-bold'>{localedData.main.notfound}</h1>
  </div>
</Grid>
