---
import i18n, { t, setDefaultNamespace, changeLanguage } from "i18next";
import Block from "src/components/grid/Block.astro";
import Grid from "src/layouts/Grid.astro";

changeLanguage("uk");

setDefaultNamespace("feedback");
const locale = i18n.language;
---
<script src="https://www.google.com/recaptcha/api.js" async defer>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" async defer></script>

<Grid title={t('title')} description={t('description')}>
    <Block md lg />
    <Block md lg />
    <Block md lg />
    <Block md lg />
    <Block md lg />
    <Block md lg />
    <Block lg />
    <div class='col-span-2 bg-white p-5 md:col-span-4 lg:col-span-6'>
        <h1 class='mb-10 text-center text-4xl font-bold'>{t('title')}</h1>
        <form class="mx-auto flex max-w-lg flex-col gap-4 rounded-md px-3 py-2" id="feedback-form">
            <label class="block">{t('form.items.name.label')}
                <input type="text" name="name" required class="mt-1 block w-full rounded-md border-2 border-blue-900 px-4 py-2"/>
            </label>
            <label class="block">{t('form.items.email.label')}
                <input type="email" name="email" required class="mt-1 block w-full rounded-md border-2 border-blue-900 px-4 py-2"/>
            </label>
            <label class="block">{t('form.items.message.label')}
                <textarea name="text" required class="mt-1 block w-full rounded-md border-2 border-blue-900 px-4 py-2"/>
            </label>
            <div class="g-recaptcha" data-sitekey="6LcYYigoAAAAAHX2KTb-DqYnDDkjiJn7gcIooXkB"></div>
            <button class="rounded-md border-2 border-blue-900 px-3 py-2 duration-300 hover:bg-blue-900 hover:text-white">{t('form.sendbutton')}</button>
            <p class="mt-3" id="msg"></p>
        </form>
    </div>
</Grid>


<script define:vars={{locale}}>
    const form = document.getElementById('feedback-form');
    const msg = document.getElementById('msg');
    form?.addEventListener('submit', (e) => {
        e.preventDefault();
        const captcha = grecaptcha.getResponse();

        msg.innerHTML = '';
        msg.style.color = '';
        
        if (!captcha){
            msg.innerHTML = locale === 'uk' ? 'Ви не пройшли капчу.' : 'You did not pass the captcha.';
            msg.style.color = 'red';
            return;
        }

        axios.post('/api/feedback', {
            name: form.name.value,
            email: form.email.value,
            text: form.text.value,
            captcha: captcha
        }).then((response) => {
            form.reset();
            if (response.status === 200) {
                msg.innerHTML = locale === 'uk' ? 'Ваше повідомлення відправлено.' : 'Your message has been sent.';
                msg.style.color = 'green';
            } else {
                msg.innerHTML = locale === 'uk' ? 'Помилка. Спробуйте пізніше.' : 'Error. Try again later.';
                msg.style.color = 'red';
            }
        }).catch((e) => {
            msg.innerHTML = locale === 'uk' ? 'Помилка. Спробуйте пізніше.' : 'Error. Try again later.';
            msg.style.color = 'red';
        }).finally(() => {
            grecaptcha.reset();
        })
    })
</script>