---
import i18n, { t, changeLanguage, setDefaultNamespace } from "i18next";
import Block from "../components/grid/Block.astro";
import Button from "../components/grid/Button.astro";
import ButtonWithImage from "../components/grid/ButtonWithImage.astro";
import generatelocaledURL from "../utils/localedURL.ts";
import SloganBlock from "../components/grid/SloganBlock.astro";
import LanguageSwitcherBlock from "../components/grid/LanguageSwitcherBlock.astro";
import Grid from "../layouts/Grid.astro";

changeLanguage("uk");

setDefaultNamespace("home");
---

<script>
  const langNotification = document.getElementById('lang-notification');
  if (!localStorage.getItem('langModalInteraction') && window.navigator.language !== 'uk') {
    langNotification?.style.setProperty('display', 'block');
  }

  const langUKButton = document.getElementById('lang-uk');
  const langENButton = document.getElementById('lang-en');

  langENButton?.addEventListener('click', () => {
    localStorage.setItem('langModalInteraction', 'true');
    langNotification?.style.setProperty('display', 'none');
    window.location.href = '/en';
  })

  langUKButton?.addEventListener('click', () => {
    localStorage.setItem('langModalInteraction', 'true');
    langNotification?.style.setProperty('display', 'none');
  })
</script>


<Grid>
  <!-- Not grid elements -->
  <h1 class='hidden'>{t('common:title.full')}</h1>
  {i18n.language === 'uk' && <div class="fixed inset-0 z-50 hidden bg-black/60" id="lang-notification">
    <div class="mx-auto mt-10 flex h-min flex-col items-center justify-center rounded-md bg-white px-5 py-3 md:w-max">
      <div class="flex items-center justify-center rounded-full bg-gray-50 p-4">
        <img src="/icons/en.svg"/></div>
      <h2 class="my-5 text-3xl font-semibold">Hello</h2>
      <p>We noticed that the language of your browser is not <strong>Ukrainian</strong>,</p>
      <p>maybe you want to change the language of the website to <strong>English</strong>?</p>
      <p class="mt-5 text-sm text-gray-500">You can always change the language on the <strong>main page</strong> by clicking on the button on the <strong>top right</strong>*</p>
      <div class="mt-5 flex w-full flex-wrap justify-center gap-6 border-t-2 border-blue-500 py-3 md:flex-row">
        <button class="rounded-md border-2 border-blue-500 px-4 py-3 duration-300 hover:scale-110" id="lang-uk">Stay on the Ukrainian</button>
        <button class="rounded-md bg-blue-500 px-4 py-3 text-white duration-300 hover:scale-110" id="lang-en">Switch to the English</button>
      </div>
    </div>
  </div>}
  <div class='absolute left-0 top-0 -z-50 h-[100vh] w-full overflow-hidden'>
    {
      Array(2)
        .fill(1)
        .map(() => (
          <>
            <video loop muted autoplay class='hidden max-h-none w-full max-w-none lg:block'>
              <source src='/videos/background/sky_1280.mp4' type='video/mp4' />
            </video>
            <video
              loop
              muted
              autoplay
              class='ml-[-16.6%] hidden max-h-none w-[133%] max-w-none md:block lg:hidden'
            >
              <source src='/videos/background/sky_square.mp4' type='video/mp4' />
            </video>
            <video loop muted autoplay class='fixed inset-0 block w-full md:hidden'>
              <source src='/videos/background/sky_mobile.mp4' type='video/mp4' />
            </video>
          </>
        ))
    }
  </div>

  <!-- Grid elements -->
  <ButtonWithImage
    path='https://gualos.com/'
    alt='Gualos'
    title='Gualos'
    src='/images/logo-gualos.png'
  />
  <Block md lg />
  <Block md lg />
  <SloganBlock />
  <LanguageSwitcherBlock />
  <Block lg />
  <Block lg />
  <Block md lg /><Button
    path={generatelocaledURL('/catalog/facades')}
    alt={t('service')}
    title={t('service')}
  />
  <Button path={generatelocaledURL('/production')} title={t('production')} />
  <Button path={generatelocaledURL('/posts')} alt={t('posts')} title={t('posts')} />
  <Button path={generatelocaledURL('/about')} alt={t('about')} title={t('about')} />
  <Block md lg />
  <Block lg />
  <Block lg />
  <Block md lg />
  <Button path={generatelocaledURL('/projects')} alt={t('projects')} title={t('projects')} />
  <Button path={generatelocaledURL('/contacts')} alt={t('contacts')} title={t('contacts')} />
  <Button
    path='https://drive.google.com/file/d/1vVekRWUyhJkb9wlAj7WfZ-MAGZTeE5Dg/view'
    alt={t('handbook')}
    title={t('handbook')}
    blank
  />
  <Button path={generatelocaledURL('/reportings')} alt={t('reportings')} title={t('reportings')} />
</Grid>
