---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Block from "../components/grid/Block.astro";
import Button from "../components/grid/Button.astro";
import ButtonWithImage from "../components/grid/ButtonWithImage.astro";
import generatelocaledURL from "../utils/localedURL.ts";
import SloganBlock from "../components/grid/SloganBlock.astro";
import LanguageSwitcherBlock from "../components/grid/LanguageSwitcherBlock.astro";
import Grid from "../layouts/Grid.astro";

changeLanguage("uk");

setDefaultNamespace("home");
---

<Grid sky>
  <!-- Not grid elements -->
  <h1 class='hidden'>{t('common:title.full')}</h1>
  <div class='absolute left-0 top-0 -z-50 hidden h-[100vh] w-full overflow-hidden md:block'>
    {
      Array(2)
        .fill(1)
        .map(() => (
          <>
            <video loop muted autoplay class='hidden max-h-none w-full max-w-none lg:block'>
              <source src='/videos/background/sky_1280.mp4' type='video/mp4' />
            </video>
            <video
              loop
              muted
              autoplay
              class='ml-[-16.6%] block max-h-none w-[133%] max-w-none lg:hidden'
            >
              <source src='/videos/background/sky_square.mp4' type='video/mp4' />
            </video>
          </>
        ))
    }
  </div>

  <!-- Grid elements -->
  <ButtonWithImage
    path='https://gualos.com/'
    alt='Gualos'
    title='Gualos'
    src='/images/logo-gualos.png'
  />
  <Block md lg />
  <Block md lg />
  <SloganBlock />
  <LanguageSwitcherBlock />
  <Block lg />
  <Block lg />
  <Block md lg /><Button
    path={generatelocaledURL('/catalog/facades')}
    alt={t('service')}
    title={t('service')}
  />
  <Button path={generatelocaledURL('/production')} title={t('production')} />
  <Button path={generatelocaledURL('/posts')} alt={t('posts')} title={t('posts')} />
  <Button path={generatelocaledURL('/about')} alt={t('about')} title={t('about')} />
  <Block md lg />
  <Block lg />
  <Block lg />
  <Block md lg />
  <Button path={generatelocaledURL('/projects')} alt={t('projects')} title={t('projects')} />
  <Button path={generatelocaledURL('/contacts')} alt={t('contacts')} title={t('contacts')} />
  <Button
    path='https://drive.google.com/file/d/1vVekRWUyhJkb9wlAj7WfZ-MAGZTeE5Dg/view'
    alt={t('handbook')}
    title={t('handbook')}
    blank
  />
  <Button path={generatelocaledURL('/reportings')} alt={t('reportings')} title={t('reportings')} />
</Grid>
