---
import { t, changeLanguage, setDefaultNamespace } from "i18next";
import Grid from "../layouts/Grid.astro";
import ProductionFullScreen from "src/components/ProductionFullScreen";

changeLanguage("uk");

setDefaultNamespace("production");
const data: Array<{
    video: string;
    title: string;
    description: string;
}> = t("data", { returnObjects: true });
---

<Grid title={t('title')} description={t('description')} disableFooter>
  <h1 class='hidden'>{`${t('productions')} | ${t('common:title.short')}`}</h1>
  <ProductionFullScreen data={data} prevText={t('prev')} nextText={t('next')} client:load />
</Grid>
