---
import { t, setDefaultNamespace } from 'i18next';
import Block from '../components/grid/Block.astro';
import ButtonWithImage from '../components/grid/ButtonWithImage.astro';
import generatelocaledURL from '../utils/localedURL.ts';
import Base from './Base.astro';
const { title, description, image } = Astro.props;

setDefaultNamespace('common');
---

<Base title={title} description={description} image={image}>
  <div class='grid grid-cols-2 md:grid-cols-6 lg:grid-cols-8'>
    <Block lg />
    <ButtonWithImage
      path={generatelocaledURL('/')}
      alt={t('title.short')}
      title={t('title.short')}
      src='/svgs/logo-ua.svg'
    />
    <slot />
  </div>
</Base>
